# 2014 - 2018 Power Plant Python Loading
## Prior to 2014 has not been developed yet based on different column headers

In [1]:
# IMPORT CSV and Pandas
import csv
import pandas as pd
import numpy as np
from urllib.request import urlopen
from io import BytesIO
from zipfile import ZipFile
import json
import time

reader[15].columns.str.strip().str.lower().str.replace(r'\n', ' ').str.replace('(', '').str.replace(')', '')

reader[0].columns = reader[0].columns.str.strip().str.lower().str.replace(r'\n', ' ').str.replace('(', '').str.replace(')', '')
reader[0].columns

reader[16].head(1)

In [3]:
#2018 has one file 
#2008-2017 has three files and the file we want it always in position 2

def getState(stateNum):
    if stateNum>56:
        stateNum=56
    #state conversion json
    stateRAW ='{"1": "AL","2": "AK","4": "AZ","5": "AR","6": "CA","8": "CO","9": "CT","10": "DE","11": "DC","12": "FL","13": "GA","15": "HI","16": "ID","17": "IL","18": "IN","19": "IA","20": "KS","21": "KY","22": "LA","23": "ME","24": "MD","25": "MA","26": "MI","27": "MN","28": "MS","29": "MO","30": "MT","31": "NE","32": "NV","33": "NH","34": "NJ","35": "NM","36": "NY","37": "NC","38": "ND","39": "OH","40": "OK","41": "OR","42": "PA","44": "RI","45": "SC","46": "SD","47": "TN","48": "TX","49": "UT","50": "VT","51": "VA","53": "WA","54": "WV","55": "WI","56": "WY"}'
    stateJSON = json.loads(stateRAW)
    
    return stateJSON[str(stateNum)]


#print(str(1))
#print(stateJSON[str(1)])

reader=[]
start_year=1970
end_year=2018

total_start = time.time()

for i in range(start_year,end_year+1):
    
    start = time.time()
    print('Processing ' + str(i)+' Data...')
    
    if i >= 2018:
        url = 'https://www.eia.gov/electricity/data/eia923/xls/f923_' + str(i) +'.zip'
        name_pos = 0
        start_line = 5
        
    elif i < 2018 and i > 2010:
        url = 'https://www.eia.gov/electricity/data/eia923/archive/xls/f923_' + str(i) +'.zip'
        name_pos = 1
        start_line = 5

    elif i < 2011 and i > 2007:
        url = 'https://www.eia.gov/electricity/data/eia923/archive/xls/f923_' + str(i) +'.zip'
        name_pos = 1
        start_line = 7

    elif i <= 2007 and i > 2003:
        url = 'https://www.eia.gov/electricity/data/eia923/archive/xls/f906920_' + str(i) +'.zip'
        name_pos = 1
        start_line = 7
        
    elif i>=2001 and i <= 2003:
        url = 'https://www.eia.gov/electricity/data/eia923/archive/xls/f906920_' + str(i) +'.zip'
        name_pos = 0
        start_line = 7
    elif i<2001:
        url= 'https://www.eia.gov/electricity/data/eia923/archive/xls/utility/f759'+str(i)+'u.xls'
        name_pos=0
        start_line=1
        
    if i>=2001:    
        zipped_file = ZipFile(BytesIO(urlopen(url).read()))
        reader.append(pd.read_excel(zipped_file.open(zipped_file.namelist()[name_pos]), \
                                sheet_name = 0, skiprows=start_line))
    else:
        zipped_file=urlopen(url)
        reader.append(pd.read_excel(zipped_file))
    

    # Clean up columns
    reader[i-start_year].columns = reader[i-start_year].columns.str.lower().str.replace(r'\n', ' ').str.replace('(', '').str.replace(')', '')
    
    # Update year to be 4 digit
    if i<=2000:
        reader[i-start_year]["year"]=i
        
    # Combine monthly generation to total for 1970 - 1995
    if i<1996:
        reader[i-start_year]['netgen']= reader[i-start_year]['gen01']+ \
                                        reader[i-start_year]['gen02']+ \
                                        reader[i-start_year]['gen03']+ \
                                        reader[i-start_year]['gen04']+ \
                                        reader[i-start_year]['gen05']+ \
                                        reader[i-start_year]['gen06']+ \
                                        reader[i-start_year]['gen07']+ \
                                        reader[i-start_year]['gen08']+ \
                                        reader[i-start_year]['gen09']+ \
                                        reader[i-start_year]['gen10']+ \
                                        reader[i-start_year]['gen11']+ \
                                        reader[i-start_year]['gen12']
    
    #Convert State Number to State Abbreviation for 1970-2000
    if i<2001:
        reader[i-start_year]['state']=reader[i-start_year]['fipst'].apply(getState)
    #    for j in range(0,len(reader[i-start_year])):
    #        state=reader[i-start_year]['fipst'][j]
    #        reader[i-start_year]['fipst'][j]=stateJSON[str(int(state))]
    
    
    # Get the column names to match for different version of the 923 EIA data
    if i >= 2012:
        reader[i-start_year].rename(columns={'aer fuel type code':'fueltype','net generation megawatthours': 'netgen', 'plant state': 'state'}, inplace=True)
    #elif i == 2012 or i == 2013 or i == 2014:
     #   reader[i-start_year].rename(columns={'aer fuel type code':'fueltype','net generation megawatthours': 'netgen', 'plant state': 'state'}, inplace=True)
    elif i<2012 and i>=2001:
        reader[i-start_year].rename(columns={'aer fuel type code':'fueltype','net generation megawatthours': 'netgen'}, inplace=True)
    elif i<2001 and i>=1996:
        reader[i-start_year].rename(columns={'fueldesc':'fueltype','netgenerat': 'netgen', 'pltcode':'plant id', 'pltname':'plant name'}, inplace=True)
    elif i<1996:
        reader[i-start_year].rename(columns={'fueldesc':'fueltype', 'pltcode':'plant id', 'pltname':'plant name'}, inplace=True)


    # Keep only yhe needed headers
    reader[i-start_year]=reader[i-start_year][['plant id','plant name','state', 'netgen','fueltype','year']]
    end = time.time()
    print('Processing took ' + str(end - start) + ' seconds')
    
total_end = time.time()
print('All Data Processed Successfully in ' + str(total_end - total_start)  + ' seconds')

Processing 1970 Data...
Processing took 5.384181976318359 seconds
Processing 1971 Data...
Processing took 4.30669903755188 seconds
Processing 1972 Data...
Processing took 4.439879894256592 seconds
Processing 1973 Data...
Processing took 4.448336839675903 seconds
Processing 1974 Data...
Processing took 4.838825941085815 seconds
Processing 1975 Data...
Processing took 4.5097739696502686 seconds
Processing 1976 Data...
Processing took 4.664414882659912 seconds
Processing 1977 Data...
Processing took 4.012689828872681 seconds
Processing 1978 Data...
Processing took 3.9866130352020264 seconds
Processing 1979 Data...
Processing took 4.014747142791748 seconds
Processing 1980 Data...
Processing took 3.78092885017395 seconds
Processing 1981 Data...
Processing took 4.009830951690674 seconds
Processing 1982 Data...
Processing took 4.146789789199829 seconds
Processing 1983 Data...
Processing took 4.458010911941528 seconds
Processing 1984 Data...
Processing took 3.9223077297210693 seconds
Processing 1985 Data...
Processing took 4.112419128417969 seconds
Processing 1986 Data...
Processing took 4.535991668701172 seconds
Processing 1987 Data...
Processing took 4.12703800201416 seconds
Processing 1988 Data...
Processing took 3.8323631286621094 seconds
Processing 1989 Data...
Processing took 5.850992202758789 seconds
Processing 1990 Data...
Processing took 5.174269914627075 seconds
Processing 1991 Data...
Processing took 4.535644292831421 seconds
Processing 1992 Data...
Processing took 4.479542970657349 seconds
Processing 1993 Data...
Processing took 4.880475044250488 seconds
Processing 1994 Data...
Processing took 4.331680059432983 seconds
Processing 1995 Data...
Processing took 4.14024806022644 seconds
Processing 1996 Data...
Processing took 2.4748589992523193 seconds
Processing 1997 Data...
Processing took 2.600612163543701 seconds
Processing 1998 Data...
Processing took 3.5028750896453857 seconds
Processing 1999 Data...
Processing took 2.5316359996795654 seconds
Processing 2000 Data...
Processing took 2.006213903427124 seconds
Processing 2001 Data...
Processing took 6.523215055465698 seconds
Processing 2002 Data...
Processing took 8.331542015075684 seconds
Processing 2003 Data...
Processing took 9.205330848693848 seconds
Processing 2004 Data...
Processing took 9.82496690750122 seconds
Processing 2005 Data...
Processing took 8.4388427734375 seconds
Processing 2006 Data...
Processing took 9.128667116165161 seconds
Processing 2007 Data...
Processing took 12.226413011550903 seconds
Processing 2008 Data...
Processing took 29.926012992858887 seconds
Processing 2009 Data...
Processing took 27.29098892211914 seconds
Processing 2010 Data...
Processing took 25.902799129486084 seconds
Processing 2011 Data...
Processing took 106.50514793395996 seconds
Processing 2012 Data...
Processing took 89.06296706199646 seconds
Processing 2013 Data...
Processing took 111.19170880317688 seconds
Processing 2014 Data...
Processing took 103.48800325393677 seconds
Processing 2015 Data...
Processing took 114.25479388237 seconds
Processing 2016 Data...
Processing took 104.94947576522827 seconds
Processing 2017 Data...
Processing took 113.32559895515442 seconds
Processing 2018 Data...
Processing took 109.33917737007141 seconds
All Data Processed Successfully in 1126.9738869667053 seconds

In [95]:
#Concatenate
data = pd.concat(reader)
print('Individual Dataframes concatenated.')
#This removes the non-power plant data at the end
data =data[~data['plant id'].isin([99999])]



#this removes plant names that are empty
data = data[~data['plant name'].isna()]
print(data.shape)
data.head(10)

/usr/local/Cellar/python3/3.6.4_2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Individual Dataframes concatenated.
(351388, 7)

   fueltype  lat       netgen  plant id   plant name state  year
3       WAT  NaN   13208900.0     510.0     LEWISTON    ME  1970
4       WAT  NaN          0.0     510.0     LEWISTON    ME  1970
5       WAT  NaN          0.0     360.0    WATER PWR    ME  1970
6       WAT  NaN   32040300.0     360.0    WATER PWR    ME  1970
7       WAT  NaN  122793000.0     622.0    MADAWASKA    ME  1970
8       WAT  NaN  525690357.0      96.0  PENOBSCOT M    ME  1970
9       WAT  NaN  468326160.0      96.0  PENOBSCOT M    ME  1970
10      WAT  NaN  403657000.0     990.0  ANDRSCOGGIN    ME  1970
11      WAT  NaN   24022500.0      22.0         OTIS    ME  1970
12      WAT  NaN   18690000.0      22.0         OTIS    ME  1970

In [15]:
#Get the EIA 860m Plant Data. This Contains Latitude & Longitude Data
url = 'https://www.eia.gov/electricity/data/eia860m/xls/december_generator2018.xlsx'
response = urlopen(url)
df_plant_data = pd.read_excel(response, skipinitialspace = True, quotechar = '"')
new_header = df_plant_data.iloc[0] #grab the first row for the header
df_plant_data = df_plant_data[1:] #take the data less the header row
df_plant_data.columns = new_header #set the h

#drop duplicats for plant_id
df_plant_data.drop_duplicates(subset="Plant ID")
df_plant_data.head(5)

,Entity ID,Entity Name,Plant ID,Plant Name,Sector,Plant State,Generator ID,Unit Code,Nameplate Capacity (MW),Net Summer Capacity (MW),...,Planned Derate of Summer Capacity (MW),Planned Uprate Year,Planned Uprate Month,Planned Uprate of Summer Capacity (MW),County,Latitude,Longitude,Google Map,Bing Map,Balancing Authority Code
1,195,Alabama Power Co,2,Bankhead Dam,Electric Utility,AL,1,NaN,53.9,53,...,,,,,Tuscaloosa,33.4587,-87.3568,Map,Map,SOCO
2,195,Alabama Power Co,3,Barry,Electric Utility,AL,1,NaN,153.1,55,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO
3,195,Alabama Power Co,3,Barry,Electric Utility,AL,2,NaN,153.1,55,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO
4,195,Alabama Power Co,3,Barry,Electric Utility,AL,4,NaN,403.7,362,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO
5,195,Alabama Power Co,3,Barry,Electric Utility,AL,5,NaN,788.8,756.5,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO

In [19]:
#drop duplicats for plant_id
df_plant_data.drop_duplicates(subset="Plant ID",keep = 'first', inplace = True)
df_plant_data.head(5)

,Entity ID,Entity Name,Plant ID,Plant Name,Sector,Plant State,Generator ID,Unit Code,Nameplate Capacity (MW),Net Summer Capacity (MW),...,Planned Derate of Summer Capacity (MW),Planned Uprate Year,Planned Uprate Month,Planned Uprate of Summer Capacity (MW),County,Latitude,Longitude,Google Map,Bing Map,Balancing Authority Code
1,195,Alabama Power Co,2,Bankhead Dam,Electric Utility,AL,1,NaN,53.9,53,...,,,,,Tuscaloosa,33.4587,-87.3568,Map,Map,SOCO
2,195,Alabama Power Co,3,Barry,Electric Utility,AL,1,NaN,153.1,55,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO
12,195,Alabama Power Co,4,Walter Bouldin Dam,Electric Utility,AL,1,NaN,75,74.7,...,,,,,Elmore,32.5839,-86.2831,Map,Map,SOCO
15,195,Alabama Power Co,7,Gadsden,Electric Utility,AL,1,NaN,69,64,...,,,,,Etowah,34.0128,-85.9708,Map,Map,SOCO
17,195,Alabama Power Co,8,Gorgas,Electric Utility,AL,10,NaN,788.8,727.7,...,,,,,Walker,33.6443,-87.1965,Map,Map,SOCO

In [20]:
df_plant_data

,Entity ID,Entity Name,Plant ID,Plant Name,Sector,Plant State,Generator ID,Unit Code,Nameplate Capacity (MW),Net Summer Capacity (MW),...,Planned Derate of Summer Capacity (MW),Planned Uprate Year,Planned Uprate Month,Planned Uprate of Summer Capacity (MW),County,Latitude,Longitude,Google Map,Bing Map,Balancing Authority Code
1,195,Alabama Power Co,2,Bankhead Dam,Electric Utility,AL,1,NaN,53.9,53,...,,,,,Tuscaloosa,33.4587,-87.3568,Map,Map,SOCO
2,195,Alabama Power Co,3,Barry,Electric Utility,AL,1,NaN,153.1,55,...,,,,,Mobile,31.0069,-88.0103,Map,Map,SOCO
12,195,Alabama Power Co,4,Walter Bouldin Dam,Electric Utility,AL,1,NaN,75,74.7,...,,,,,Elmore,32.5839,-86.2831,Map,Map,SOCO
15,195,Alabama Power Co,7,Gadsden,Electric Utility,AL,1,NaN,69,64,...,,,,,Etowah,34.0128,-85.9708,Map,Map,SOCO
17,195,Alabama Power Co,8,Gorgas,Electric Utility,AL,10,NaN,788.8,727.7,...,,,,,Walker,33.6443,-87.1965,Map,Map,SOCO
20,5701,El Paso Electric Co,9,Copper,Electric Utility,TX,1,NaN,80.5,62,...,,,,,El Paso,31.7569,-106.375,Map,Map,EPE
21,195,Alabama Power Co,10,Greene County,Electric Utility,AL,1,NaN,299.2,257.8,...,,,,,Greene,32.6017,-87.7811,Map,Map,SOCO
32,195,Alabama Power Co,11,H Neely Henry Dam,Electric Utility,AL,1,NaN,24.3,23.7,...,,,,,Calhoun,33.7845,-86.0524,Map,Map,SOCO
35,195,Alabama Power Co,12,Holt Dam,Electric Utility,AL,1,NaN,46.9,48,...,,,,,Tuscaloosa,33.2553,-87.4495,Map,Map,SOCO
36,195,Alabama Power Co,13,Jordan Dam,Electric Utility,AL,1,NaN,25,32.3,...,,,,,Elmore,32.6189,-86.2548,Map,Map,SOCO
40,195,Alabama Power Co,14,Logan Martin Dam,Electric Utility,AL,1,NaN,42.7,43,...,,,,,Talladega,33.4259,-86.3375,Map,Map,SOCO
43,195,Alabama Power Co,15,Lay Dam,Electric Utility,AL,1,NaN,29.5,30,...,,,,,Chilton,32.9633,-86.5187,Map,Map,SOCO
49,195,Alabama Power Co,16,Martin Dam,Electric Utility,AL,1,NaN,50.2,46,...,,,,,Elmore,32.6804,-85.9114,Map,Map,SOCO
53,195,Alabama Power Co,17,Mitchell Dam,Electric Utility,AL,4,NaN,20,19.2,...,,,,,Coosa,32.806,-86.4449,Map,Map,SOCO
57,195,Alabama Power Co,18,Lewis Smith Dam,Electric Utility,AL,1,NaN,90.5,89,...,,,,,Walker,33.9406,-87.1077,Map,Map,SOCO
59,195,Alabama Power Co,19,Thurlow Dam,Electric Utility,AL,1,NaN,40.5,33.6,...,,,,,Elmore,32.5354,-85.8876,Map,Map,SOCO
62,195,Alabama Power Co,20,Weiss Dam,Electric Utility,AL,1,NaN,29.2,27,...,,,,,Cherokee,34.1721,-85.7538,Map,Map,SOCO
65,195,Alabama Power Co,21,Yates Dam,Electric Utility,AL,1,NaN,25.5,22,...,,,,,Elmore,32.5743,-85.8901,Map,Map,SOCO
67,195,Alabama Power Co,26,E C Gaston,Electric Utility,AL,1,NaN,272,254,...,,,,,Shelby,33.2442,-86.4581,Map,Map,SOCO
73,29305,City of Madelia - (MN),30,Madelia,Electric Utility,MN,1,NaN,3.1,3.1,...,,,,,Watonwan,44.0501,-94.4178,Map,Map,MISO
78,13402,Nevada Irrigation District,34,Rollins,IPP Non-CHP,CA,1P,NaN,12.1,12.1,...,,,,,Placer,39.1343,-120.953,Map,Map,CISO
79,27813,USCE-Mobile District,38,Millers Ferry,Electric Utility,AL,1,NaN,33.7,30,...,,,,,Wilcox,32.1009,-87.3998,Map,Map,SOCO
82,18642,Tennessee Valley Authority,46,Browns Ferry,Electric Utility,AL,1,NaN,1152,1255.8,...,,,,,Limestone,34.7042,-87.1189,Map,Map,TVA
85,18642,Tennessee Valley Authority,47,Colbert,Electric Utility,AL,GT1,NaN,59.5,45.4,...,,,,,Colbert,34.7439,-87.8486,Map,Map,TVA
93,18642,Tennessee Valley Authority,48,Guntersville,Electric Utility,AL,1,NaN,28.8,31,...,,,,,Marshall,34.4213,-86.3939,Map,Map,TVA
97,18642,Tennessee Valley Authority,49,Wheeler Dam,Electric Utility,AL,1,NaN,35.1,34.1,...,,,,,Lawrence,34.8069,-87.3819,Map,Map,TVA
108,3265,Cleco Power LLC,51,Dolet Hills,Electric Utility,LA,1,NaN,720.7,642.1,...,,,,,DeSoto,32.0306,-93.5692,Map,Map,MISO
109,189,PowerSouth Energy Cooperative,53,Gantt,Electric Utility,AL,3,NaN,1.2,1,...,,,,,Covington,31.4033,-86.4795,Map,Map,AEC
111,5580,"East Kentucky Power Coop, Inc",54,J K Smith,Electric Utility,KY,GT1,NaN,149,104,...,,,,,Clark,37.8833,-84.1017,Map,Map,PJM
120,189,PowerSouth Energy Cooperative,55,Point A,Electric Utility,AL,1,NaN,1.6,1.8,...,,,,,Covington,31.3611,-86.5183,Map,Map,AEC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21984,61799,Bly Solar Center,62272,Bly Solar Center,IPP Non-CHP,OR,BLY,NaN,8,8,...,,,,,Klamath,42.3922,-121.025,Map,Map,PACW
21985,61798,"Kern Highschool District Solar,LLC",62274,Liberty HS Solar Project,Commercial Non-CHP,CA,LHSSP,NaN,1.5,1.2,...,,,,,Kern,35.3644,-119.127,Map,Map,CISO
21986,61798,"Kern Highschool District Solar,LLC",62275,Frontier HS Solar Project,Commercial Non-CHP,CA,FHSSP,NaN,1.4,1.4,...,,,,,Kern,35.4182,-119.149,Map,Map,CISO
21987,61811,AES LA FiT Sun Valley LLC,62286,Xebec 1,Commercial Non-CHP,CA,W7188,NaN,1.9,1.9,...,,,,,Los Angeles,34.224,-118.393,Map,Map,LDWP
21988,61812,AES LA FiT Francisco LLC,62287,Francisco St. Solar,Commercial Non-CHP,CA,W7190,NaN,1.2,1,...,,,,,Los Angeles,33.8482,-118.305,Map,Map,LDWP
21989,61815,"Palmer's Creek Wind Farm, LLC",62291,"Palmer's Creek Wind Farm, LLC",IPP Non-CHP,MN,PCWF,NaN,44.6,44.6,...,,,,,Chippewa,44.8577,-95.5689,Map,Map,SWPP
21990,61012,AES Distributed Energy,62301,Richmond NMCA,IPP Non-CHP,RI,RNM02,NaN,4,4,...,,,,,Washington,41.4402,-71.7154,Map,Map,ISNE
21991,61012,AES Distributed Energy,62303,Mattas Farms,IPP Non-CHP,NY,MF01,NaN,2,2,...,,,,,Montgomery,42.8937,-74.2163,Map,Map,ISNE
21992,5416,"Duke Energy Carolinas, LLC",62304,Woodleaf Solar Facility,Electric Utility,NC,PV1,NaN,6,6,...,,,,,Rowan,35.7244,-80.6085,Map,Map,CPLE
21993,61819,Western Sugar Cooperative - Billings,62319,Western Sugar Cooperative - Billings,Industrial CHP,MT,1,NaN,1.5,1.5,...,,,,,Yellowstone,45.7653,-108.499,Map,Map,NWMT
21994,61824,"Cedar Falls Solar Farm, LLC",62321,Cedar Falls Solar Farm,IPP Non-CHP,IA,1,NaN,1.5,1.5,...,,,,,Black Hawk,42.4814,-92.4582,Map,Map,MISO
21995,61822,Mechanicville Hydroelectric Station,62322,Mechanicville Hydroelectric Station,IPP Non-CHP,NY,MG8,NaN,2,1.5,...,,,,,Saratoga,42.8765,-73.6802,Map,Map,NYIS
21997,61821,"Northstar Macy's Maryland 2015, LLC",62323,Macy's MD Joppa Solar Project,Commercial Non-CHP,MD,MMDJ,NaN,1.8,1,...,,,,,Harford,39.4475,-76.3209,Map,Map,PJM
21998,61012,AES Distributed Energy,62324,Dynamic - Walpole,IPP Non-CHP,MA,WAL01,NaN,2,2,...,,,,,Norfolk,42.1332,-71.272,Map,Map,ISNE
21999,60268,Hartz Solar LLC,62325,46 Meadowlands Parkway,Commercial Non-CHP,NJ,1,NaN,1.5,1.5,...,,,,,Hudson,40.7898,-74.0715,Map,Map,PJM
22000,60268,Hartz Solar LLC,62326,77 Metro Way,Commercial Non-CHP,NJ,1,NaN,1,1,...,,,,,Hudson,40.7705,-74.0722,Map,Map,PJM
22001,61845,"Polk County Renewables, LLC",62333,"Polk County Renewables, LLC",IPP Non-CHP,NE,T-1,NaN,2.5,2.5,...,,,,,Polk,41.1653,-97.5702,Map,Map,SWPP
22002,61838,"Aulander Holloman Solar, LLC",62340,"Aulander Holloman Solar, LLC",IPP Non-CHP,NC,HOLLO,NaN,80,80,...,,,,,Hertford,36.2912,-77.0666,Map,Map,PJM
22003,61889,Barre Solar III LLC,62363,Barre Solar III LLC,IPP Non-CHP,MA,BSPV,NaN,1,1,...,,,,,Worcester,42.4193,-72.1139,Map,Map,ISNE
22004,61892,NYP-Lower Manhattan Hospital,62366,NYP-Lower Manhattan Hospital,Commercial Non-CHP,NY,CATR4,NaN,1.5,1.5,...,,,,,New York,40.7103,-74.005,Map,Map,NYIS
22005,61894,"BWC Origination 18, LLC",62368,BWC Origination 18,IPP Non-CHP,MA,62591,NaN,4.8,4.8,...,,,,,Plymouth,41.6791,-70.8364,Map,Map,ISNE
22006,61895,"BWC Gibbs Brook, LLC",62369,BWC Gibbs Brook,IPP Non-CHP,MA,62595,NaN,4,4,...,,,,,Plymouth,41.7749,-70.6959,Map,Map,ISNE
22007,61896,"BWC Wareham River, LLC",62370,BWC Wareham River,IPP Non-CHP,MA,62593,NaN,1,1,...,,,,,Plymouth,41.7837,-70.6932,Map,Map,ISNE
22008,61897,"BWC Harlow Brook, LLC",62371,BWC Harlow Brook,IPP Non-CHP,MA,62592,NaN,1.5,1.5,...,,,,,Plymouth,41.7829,-70.6907,Map,Map,ISNE
22009,61898,"BWC Pocasset River, LLC",62372,BWC Pocasset River,IPP Non-CHP,MA,62594,NaN,1.5,1.5,...,,,,,Plymouth,41.7822,-70.6877,Map,Map,ISNE
22010,19499,"United Power, Inc",62373,I25 Battery Storage,Electric Utility,CO,I25BA,NaN,4,4,...,,,,,Weld,40.1403,-104.978,Map,Map,WACM
22011,11208,Los Angeles Department of Water & Power,62378,CFW Solar X LLC - Vaughn,IPP Non-CHP,CA,VSCFW,NaN,1.6,1.6,...,,,,,Los Angeles,34.2774,-118.43,Map,Map,LDWP
22012,7140,Georgia Power Co,62393,Atlanta Falcons Solar,Electric Utility,GA,1,NaN,0.3,0.3,...,,,,,Fulton,33.7554,-84.4009,Map,Map,SOCO
22015,61927,Bell Bay Solar Farm,62395,Bell Bay Solar Farm,Electric Utility,SC,1,NaN,1.6,1.6,...,,,,,Horry,33.6677,-78.918,Map,Map,SC
22016,NOTES:\nCapacity from facilities with a total ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
def findLat(plantCode):
    try:
        #lat=float(df_plant_data.loc[(df_plant_data['Plant ID']==plantCode) & (df_plant_data['Plant Name']==plantName)]['Latitude'].values)
        #long=float(df_plant_data.loc[(df_plant_data['Plant ID']==plantCode) & (df_plant_data['Plant Name']==plantName)]['Longitude'].values)
        #name=(df_plant_data.loc[df_plant_data['Plant ID']==plantCode]['Plant Name'].values)[0]
        
        lat=float(df_plant_data.loc[(df_plant_data['Plant ID']==plantCode)]['Latitude'].values)
        long=float(df_plant_data.loc[(df_plant_data['Plant ID']==plantCode)]['Longitude'].values)
        name=(df_plant_data.loc[df_plant_data['Plant ID']==plantCode]['Plant Name'].values)[0]
    #name=str(1)
    
        return [lat,long,name]
    except:
        if plantCode!=99999:
            print(plantCode)
        return [None,None,None]

print(findLat(3))

[31.0069, -88.0103, 'Barry']

In [122]:
reader[48]['latlong']=reader[48]['plant id'].apply(findLat)

207
207
207
302
302
302
331
345
345
1048
1048
1552
1552
1552
1552
2080
2080
2094
2094
2094
2094
2388
2850
2850
2850
3497
3497
3497
6031
6031
6031
6147
6147
6147
6170
6170
6170
6170
6648
6648
8809
8812
8812
8816
8816
8816
8823
8823
8824
8825
8827
8828
8829
8831
8832
8834
8834
8835
8835
8837
8837
8838
8838
8841
8841
8841
8843
8843
8845
8845
8846
8846
8847
8847
8848
8850
8851
8851
8852
8852
8853
8853
8857
8858
8865
8866
8866
8867
8867
8868
8899
8899
10090
10090
10090
10333
10333
10333
10810
10810
10811
10811
10812
10812
52071
52071
54534
54561
54561
54779
54779
55526
55867
55867
55867
57759
57759
57759
57759

In [123]:
reader[48].head(100)

,plant id,plant name,state,netgen,fueltype,year,lat,latlong
0,3,Barry,AL,2345699.000,NG,2018,31.006900,"[31.0069, -88.0103, Barry]"
1,3,Barry,AL,4341821.000,NG,2018,31.006900,"[31.0069, -88.0103, Barry]"
2,3,Barry,AL,0.000,COL,2018,31.006900,"[31.0069, -88.0103, Barry]"
3,3,Barry,AL,3227353.000,COL,2018,31.006900,"[31.0069, -88.0103, Barry]"
4,3,Barry,AL,143099.030,NG,2018,31.006900,"[31.0069, -88.0103, Barry]"
5,3,Barry,AL,406943.960,COL,2018,31.006900,"[31.0069, -88.0103, Barry]"
6,7,Gadsden,AL,188877.000,NG,2018,34.012800,"[34.0128, -85.9708, Gadsden]"
7,8,Gorgas,AL,5490646.400,COL,2018,33.644344,"[33.644344, -87.19649, Gorgas]"
8,8,Gorgas,AL,7241.585,DFO,2018,33.644344,"[33.644344, -87.19649, Gorgas]"
9,10,Greene County,AL,10825.873,DFO,2018,32.601700,"[32.6017, -87.7811, Greene County]"
10,10,Greene County,AL,40917.127,NG,2018,32.601700,"[32.6017, -87.7811, Greene County]"
11,10,Greene County,AL,0.000,COL,2018,32.601700,"[32.6017, -87.7811, Greene County]"
12,10,Greene County,AL,1121348.000,NG,2018,32.601700,"[32.6017, -87.7811, Greene County]"
13,10,Greene County,AL,0.000,COL,2018,32.601700,"[32.6017, -87.7811, Greene County]"
14,26,E C Gaston,AL,176.000,DFO,2018,33.244211,"[33.244211, -86.45806, E C Gaston]"
15,26,E C Gaston,AL,2851865.400,COL,2018,33.244211,"[33.244211, -86.45806, E C Gaston]"
16,26,E C Gaston,AL,3235212.600,NG,2018,33.244211,"[33.244211, -86.45806, E C Gaston]"
17,46,Browns Ferry,AL,7841125.000,NUC,2018,34.704200,"[34.7042, -87.1189, Browns Ferry]"
18,46,Browns Ferry,AL,9457539.000,NUC,2018,34.704200,"[34.7042, -87.1189, Browns Ferry]"
19,46,Browns Ferry,AL,8099117.000,NUC,2018,34.704200,"[34.7042, -87.1189, Browns Ferry]"
20,51,Dolet Hills,LA,1420845.400,COL,2018,32.030556,"[32.030556, -93.56917, Dolet Hills]"
21,51,Dolet Hills,LA,62223.605,NG,2018,32.030556,"[32.030556, -93.56917, Dolet Hills]"
22,51,Dolet Hills,LA,0.000,WOO,2018,32.030556,"[32.030556, -93.56917, Dolet Hills]"
23,54,J K Smith,KY,3476.568,DFO,2018,37.883300,"[37.8833, -84.1017, J K Smith]"
24,54,J K Smith,KY,390994.430,NG,2018,37.883300,"[37.8833, -84.1017, J K Smith]"
25,56,Charles R Lowman,AL,1245578.200,COL,2018,31.488019,"[31.488019, -87.91075, Charles R Lowman]"
26,56,Charles R Lowman,AL,11063.785,DFO,2018,31.488019,"[31.488019, -87.91075, Charles R Lowman]"
27,60,Whelan Energy Center,NE,1353.634,DFO,2018,40.580872,"[40.580872, -98.31244, Whelan Energy Center]"
28,60,Whelan Energy Center,NE,434977.710,COL,2018,40.580872,"[40.580872, -98.31244, Whelan Energy Center]"
29,60,Whelan Energy Center,NE,941094.660,COL,2018,40.580872,"[40.580872, -98.31244, Whelan Energy Center]"
...,...,...,...,...,...,...,...,...
70,141,Agua Fria,AZ,144412.000,NG,2018,33.556100,"[33.5561, -112.2153, Agua Fria]"
71,145,Horse Mesa,AZ,29987.000,HYC,2018,33.590700,"[33.5907, -111.344, Horse Mesa]"
72,145,Horse Mesa,AZ,20136.000,HPS,2018,33.590700,"[33.5907, -111.344, Horse Mesa]"
73,147,Kyrene,AZ,301721.000,NG,2018,33.355600,"[33.3556, -111.9353, Kyrene]"
74,147,Kyrene,AZ,550048.000,NG,2018,33.355600,"[33.3556, -111.9353, Kyrene]"
75,147,Kyrene,AZ,0.000,DFO,2018,33.355600,"[33.3556, -111.9353, Kyrene]"
76,147,Kyrene,AZ,1441.000,NG,2018,33.355600,"[33.3556, -111.9353, Kyrene]"
77,148,Mormon Flat,AZ,11964.000,HYC,2018,33.553600,"[33.5536, -111.4431, Mormon Flat]"
78,148,Mormon Flat,AZ,5226.000,HPS,2018,33.553600,"[33.5536, -111.4431, Mormon Flat]"
79,153,Glen Canyon Dam,AZ,3958503.000,HYC,2018,36.936614,"[36.936614, -111.4839, Glen Canyon Dam]"
80,154,Hoover Dam (NV),NV,1814646.000,HYC,2018,36.015510,"[36.01551, -114.738, Hoover Dam (NV)]"
81,160,Apache Station,AZ,0.000,DFO,2018,32.060300,"[32.0603, -109.8931, Apache Station]"
82,160,Apache Station,AZ,57129.000,NG,2018,32.060300,"[32.0603, -109.8931, Apache Station]"
83,160,Apache Station,AZ,46134.185,COL,2018,32.060300,"[32.0603, -109.8931, Apache Station]"
84,160,Apache Station,AZ,1092913.800,NG,2018,32.060300,"[32.0603, -109.8931, Apache Station]"
85,160,Apache Station,AZ,577166.010,COL,2018,32.060300,"[32.0603, -109.8931, Apache Station]"
86,165,GREC,OK,781699.000,NG,2018,36.190278,"[36.190278, -95.2894, GREC]"
87,165,GREC,OK,0.000,DFO,2018,36.190278,"[36.190278, -95.2894, GREC]"
88,165,GREC,OK,1499223.000,NG,2018,36.190278,"[36.190278, -95.2894, GREC]"
89,165,GREC,OK,0.000,COL,2018,36.190278,"[36.190278, -95.2894, GREC]"
90,165,GREC,OK,32471.476,NG,2018,36.190278,"[36.190278, -95.2894, GREC]"
91,165,GREC,OK,368909.520,COL,2018,36.190278,"[36.190278, -95.2894, GREC]"
92,187,Degray,AR,37109.000,HYC,2018,34.211913,"[34.211913, -93.11096, Degray]"
93,187,Degray,AR,40245.000,HPS,2018,34.211913,"[34.211913, -93.11096, Degray]"
94,204,Clinton Power Station,IL,8346686.000,NUC,2018,40.171900,"[40.1719, -88.8339, Clinton Power Station]"
95,207,St Johns River Power Park,FL,0.000,COL,2018,0.000000,"[None, None, None]"
96,207,St Johns River Power Park,FL,0.000,NG,2018,0.000000,"[None, None, None]"
97,207,St Johns River Power Park,FL,0.000,PC,2018,0.000000,"[None, None, None]"
98,210,Wolf Creek Generating Station,KS,9168289.000,NUC,2018,38.239260,"[38.23926, -95.68978, Wolf Creek Generating St..."
99,219,Belden,CA,233801.000,HYC,2018,40.007445,"[40.007445, -121.2494, Belden]"